<!-- <div class="input-group search">
    <input type="search" placeholder="Поиск по преподавателю" class="form-control" />
    <button type="button" class="btn btn-primary">
      Найти
    </button>
</div> -->

<button 
  (click)="save()"
  class="btn btn-success">Сохранить изменения</button>

<table class="table">
  <thead>
    <tr>
      <th
        *ngFor="let title of titles" 
        scope="col">{{ title }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let preference of preferences">
      <td>{{ preference.teacher.full_name }}</td>
      <td>{{ preference.discipline.name }}</td>
      <td>{{ preference.semester.name }}</td>
      <td>
        <input 
          [value]="preference.importance_coefficient"
          (input)="changeWeight($event, preference.teacher.id, preference.discipline.id)"
          type="text"
          class="form-control number">
      </td>
    </tr>
  </tbody>
</table>