<!-- <div class="input-group search">
    <input type="search" placeholder="Поиск по преподавателю" class="form-control" />
    <button type="button" class="btn btn-primary">
      Найти
    </button>
</div> -->

<button 
  (click)="save()"
  class="btn btn-success">Сохранить изменения</button>

<p-table [value]="preferences" [lazy]="true" (onLazyLoad)="loadTeacherPreferences()">
  <ng-template pTemplate="header">
    <tr>
      <th
        *ngFor="let title of titles" 
        scope="col">{{ title }}</th>
    </tr>
    <tr>
      <th>
        <p-columnFilter 
          placeholder="Поиск по преподавателю" 
          [showClearButton]="false" 
          (input)="filter('teacher', $event)" 
          [showMenu]="false" 
          type="text" 
          field="teacher">
        </p-columnFilter>
      </th>
      <th>
        <p-columnFilter 
          placeholder="Поиск по дисциплине" 
          [showClearButton]="false" 
          (input)="filter('discipline', $event)" 
          [showMenu]="false" 
          type="text" 
          field="discipline">
        </p-columnFilter>
      </th>
      <th>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-preference>
    <tr>
      <tr>
        <td>{{ preference.teacher.full_name }}</td>
        <td>{{ preference.discipline.name }}</td>
        <td>{{ preference.semester.name }}</td>
        <td>
          <input 
            [value]="preference.importance_coefficient"
            (input)="changeWeight($event, preference.teacher.id, preference.discipline.id, preference.semester.id)"
            type="text"
            class="form-control number">
        </td>
      </tr>
  </ng-template>
</p-table>

<p-paginator
  *ngIf="preferences.length > 0"
  [totalRecords]="totalPages" 
  [rows]="rows" 
  (onPageChange)="onPage($event)">
</p-paginator>