<div class="preview-blocks" *ngIf="preloader; else block">
  <preview-block height="110px"></preview-block>
  <preview-block height="110px"></preview-block>
  <preview-block height="110px"></preview-block>
</div>

<ng-template #block>
  <div class="container container-special scroll-x-container">
    <p-table
      [value]="list"
      [paginator]="true"
      [rows]="10"
      [showCurrentPageReport]="true"
      responsiveLayout="scroll"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [rowsPerPageOptions]="[10, 25, 50]">
      <ng-template pTemplate="header">
          <tr>
              <th>Действия</th>
              <th>ID</th>
              <th>Название</th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-object>
          <tr>
                <td>
                  <a pButton pRipple type="button" style="margin-left: 5px;" [routerLink]="['/admin', 'academic-titles' , 'update', object.id]" icon="pi pi-user-edit"
                      class="p-button-rounded"></a>
                  <a pButton pRipple type="button" (click)="remove(object.id)" style="margin-left: 5px;"
                      icon="pi pi-trash" class="p-button-rounded"></a>
              </td>
              <td>{{object.id}}</td>
              <td>{{object.title}}</td>
          </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
          <a [routerLink]="['/admin', 'academic-titles', 'create']" class="btn btn-primary">Добавить</a>
      </ng-template>
    </p-table>
  </div>
</ng-template>

