<!-- <div class="input-group search">
  <input type="search" placeholder="Поиск по дисциплине" class="form-control" />
  <button type="button" class="btn btn-primary">
    Найти
  </button>
</div> -->

<button 
(click)="save()"
class="btn btn-success">Сохранить изменения</button>

<table class="table">
<thead>
  <tr>
    <th
      *ngFor="let title of titles" 
      scope="col">{{ title }}</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let discipline of disciplines">
    <td>Курс - {{ discipline.semester.course_name }}, Семестр - {{ discipline.semester.name }}</td>
    <td>{{ discipline.discipline.name }}</td>
    <td>
      <input 
        [value]="discipline.hours"
        (input)="changeHours($event, discipline.semester.id, discipline.discipline.id)"
        type="text"
        class="form-control number">
    </td>
  </tr>
</tbody>
</table>